@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab');
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Montserrat', sans-serif;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nav {
  background-color: #555;
}
.slider {
  background-color: #1d62f0;
}
.bg-social {
  background-color: #065A97;
  padding: 20px;
}
p {
  font-size: 14px;
  line-height: 32px;
  color: #000;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.center {
  text-align: center;
}
.transition {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.professional-services {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .professional-services {
    margin-top: 90px;
    margin-bottom: 80px;
  }
}
.professional-services__heading {
  color: #222222;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0;
}
@media (min-width: 992px) {
  .professional-services__heading {
    font-size: 40px;
  }
}
.professional-services__slogan {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
@media (min-width: 992px) {
  .professional-services__slogan {
    font-size: 20px;
  }
}
.servises {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .servises {
    margin-bottom: 0;
  }
}
.servises__icon {
  height: 58px;
}
.servises__icon .fas {
  font-size: 45px;
}
.servises__title {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
  line-height: 75px;
  margin: 0;
}
.servises__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}
.navigation {
  background-color: #FFF;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.logo {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.logo__name {
  color: #555555;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
  margin-left: 5px;
}
.nav-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 75px;
  right: 10px;
}
@media (min-width: 992px) {
  .nav-wrap {
    position: static;
    background-color: transparent;
  }
}
.navigation__menu {
  padding: 40px;
  list-style-type: none;
  margin: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  top: 100%;
}
@media (min-width: 992px) {
  .navigation__menu {
    padding: 0;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.navigation___list {
  margin-bottom: 20px;
}
.navigation___list:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .navigation___list {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .navigation___list:last-child {
    margin-right: 0;
  }
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: #7CC576;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
@media (min-width: 992px) {
  .navigation__link {
    color: #777777;
  }
}
.special-bg-relax {
  height: 616px;
  display: flex;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .special-bg-relax {
    margin-top: 90px;
  }
}
.background-icon {
  width: 30%;
  background-color: #e9e9e9;
  position: relative;
  display: none;
}
@media (min-width: 992px) {
  .background-icon {
    display: block;
  }
}
.background-icon::after {
  display: block;
  width: 190px;
  height: 100%;
  position: absolute;
  content: '';
  background-image: url('../img/icons/gear2.png');
  background-repeat: no-repeat;
  background-position: left center;
  right: 0;
}
.background-photo {
  width: 100%;
  background-image: url('../img/bg/bg-content.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 992px) {
  .background-photo {
    background-position: left top;
    width: 70%;
  }
}
.special-bg-block-content {
  text-align: center;
  padding: 100px 15px;
}
@media (min-width: 768px) {
  .special-bg-block-content {
    padding: 85px 15px;
  }
}
@media (min-width: 992px) {
  .special-bg-block-content {
    background-position: left top;
    padding-top: 85px;
    padding-left: 100px;
    padding-bottom: 90px;
    text-align: left;
  }
}
.relax__heading {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.relax__heading span {
  color: #7cc576;
}
@media (min-width: 768px) {
  .relax__heading {
    font-size: 40px;
  }
}
.relax__text {
  display: inline-block;
  margin-top: 20px;
  color: #cccccc;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  width: 300px;
}
@media (min-width: 768px) {
  .relax__text {
    width: 500px;
    font-size: 16px;
  }
}
.relax__benefits {
  margin-top: 25px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 992px) {
  .relax__benefits {
    display: flex;
    align-items: flex-start;
  }
}
.relax__benefits-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.relax__benefits-list {
  color: #cccccc;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 40px;
}
.relax__benefits-list:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .relax__benefits-list {
    display: flex;
  }
}
.relax__benefits-list::before {
  content: "";
  height: 35px;
  width: 35px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/icons/icon-arrow.png');
  top: -4px;
  left: -40px;
  padding-right: 30px;
}
.relax__button {
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.37px;
  padding: 15px 25px;
  background-color: #7cc576;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.relax__button:hover {
  background-color: #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.project__wrap {
  display: flex;
  margin-bottom: 10px;
}
.project__desc {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 20px;
  -webkit-justify-content: center;
  justify-content: center;
}
.img__wrap {
  position: absolute;
  right: 0;
  display: none;
}
@media (min-width: 1200px) {
  .img__wrap {
    display: block;
  }
}
.project {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .project {
    margin-bottom: 70px;
    margin-top: 80px;
  }
}
.project__header {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0;
}
@media (min-width: 992px) {
  .project__header {
    font-size: 40px;
  }
}
.project__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
@media (min-width: 992px) {
  .project__text {
    font-size: 20px;
  }
}
.framework {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}
.framework__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .framework__text {
    font-size: 16px;
  }
}
.project__desc__title {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}
.project__desc__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
}
@media (min-width: 992px) {
  .project__desc__text {
    font-size: 16px;
  }
}
.link-wrap {
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .link-wrap {
    margin-bottom: 90px;
  }
}
.link-wrap a {
  text-decoration: none;
  color: #7cc576;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.link-wrap a:hover,
.link-wrap a:active,
.link-wrap a:focus {
  color: #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.culture__wrap {
  text-align: center;
}
.wrapper {
  background-color: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .wrapper {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
.culture {
  margin-bottom: 60px;
}
.culture__values {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .culture__values {
    font-size: 40px;
  }
}
.culture__desc {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
}
@media (min-width: 992px) {
  .culture__desc {
    font-size: 20px;
  }
}
.culture__wrap {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .culture__wrap {
    margin-bottom: 0;
  }
}
.culture__heading {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}
.culture__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}
.clients {
  margin-top: 40px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .clients {
    margin-top: 85px;
    margin-bottom: 60px;
  }
}
.clients__heading {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  margin: 0;
}
@media (min-width: 992px) {
  .clients__heading {
    font-size: 40px;
  }
}
.clients__text {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .clients__text {
    font-size: 20px;
    margin-bottom: 70px;
  }
}
.clients__image {
  margin-left: auto;
  margin-right: auto;
  width: 121px;
  height: 121px;
  background-color: #f9f9f9;
  overflow: hidden;
  -webkit-border-radius: 150px;
  border-radius: 150px;
}
.clients__image--special {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .clients__image {
    width: 221px;
    height: 221px;
    margin-top: 0;
  }
}
.clients__comment {
  background-color: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.client__review {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .client__review {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .client__review {
    font-size: 22px;
  }
}
.client__author {
  color: #7cc576;
  font-family: "Roboto Slab";
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .client__author {
    font-size: 15px;
  }
}
.wrap-questions {
  background-color: #7CC576;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.questions__heading {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}
@media (min-width: 768px) {
  .questions__heading {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .questions__heading {
    font-size: 40px;
  }
}
.questions__button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 25px;
}
.questions__button:hover,
.questions__button:focus,
.questions__button:active {
  background-color: #000;
  border: 3px solid #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.img-brands {
  text-align: center;
}
@media (min-width: 768px) {
  .img-brands {
    margin-bottom: 50px;
  }
}
.img-brands img {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .img-brands img {
    margin-bottom: 0;
  }
}
.copyright {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #FFF;
}
.copyright__text {
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
}
.copyright__icons {
  margin-top: 40px;
  text-align: center;
  color: #FFF;
}
@media (min-width: 768px) {
  .copyright__icons {
    margin-top: 0;
  }
}
.copyright__icons .fab {
  color: #FFF;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}
.copyright__icons .fa-twitter,
.copyright__icons .fa-facebook,
.copyright__icons .fa-pinterest,
.copyright__icons .fa-google-plus-g {
  background-color: #222;
}
.copyright__icons .fa-twitter:hover,
.copyright__icons .fa-facebook:hover,
.copyright__icons .fa-pinterest:hover,
.copyright__icons .fa-google-plus-g:hover,
.copyright__icons .fa-twitter:focus,
.copyright__icons .fa-facebook:focus,
.copyright__icons .fa-pinterest:focus,
.copyright__icons .fa-google-plus-g:focus,
.copyright__icons .fa-twitter:active,
.copyright__icons .fa-facebook:active,
.copyright__icons .fa-pinterest:active,
.copyright__icons .fa-google-plus-g:active {
  background-color: #7cc576;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.copyright__icons a {
  margin-right: 5px;
}
.line {
  display: none;
}
@media (min-width: 992px) {
  .line {
    display: block;
  }
}
.line::after {
  width: 171px;
  height: 3px;
  background-color: #777777;
  position: absolute;
  content: "";
  top: 40px;
  left: -85px;
}
.line::before {
  width: 171px;
  height: 3px;
  background-color: #777777;
  position: absolute;
  content: "";
  top: 40px;
  right: -85px;
}
.cmn-toggle-switch {
  z-index: 5;
  display: block;
  cursor: pointer;
  top: 30px;
  right: 10px;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0px;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 992px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #000;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  right: 10px;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  height: 531px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.header__title {
  padding-top: 180px;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -3px;
  text-align: center;
  margin: 0;
}
@media (min-width: 992px) {
  .header__title {
    font-size: 60px;
    padding-top: 100px;
  }
}
.header__slogan {
  color: #cccccc;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  margin: 0;
}
@media (min-width: 992px) {
  .header__slogan {
    font-size: 20px;
  }
}
.wrapper-flex {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.header__button {
  margin-top: 45px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.37px;
  padding: 15px 25px;
  background-color: #7cc576;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.header__button:hover {
  background-color: #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.footer {
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: #222222;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer__heading {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}
.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__menu {
    margin-bottom: 0;
  }
}
.footer__list {
  display: flex;
  color: #ececec;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.footer__text {
  margin-left: 15px;
}
.footer__text p {
  color: #FFF;
  font-family: "Roboto Slab";
  font-size: 12px;
}
.footer__text span {
  font-weight: 700;
}
.footer__icon {
  color: #FFF;
  font-size: 20px;
}
.footer__icon:hover,
.footer__icon:active,
.footer__icon:focus {
  color: #7CC576;
  background-color: none !important;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
