.clients {
	margin-top: 40px;
	margin-bottom: 30px;
	@media (min-width: 992px) {
		margin-top: 85px;
		margin-bottom: 60px;
	}
}
.clients__heading {
	color: #222222;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -2px;
	text-align: center;
	margin: 0;
	@media (min-width: 992px) {
		font-size: 40px;
	}
}
.clients__text {
	color: #777777;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-align: center;
	margin-bottom: 30px;
	@media (min-width: 992px) {
		font-size: 20px;
		margin-bottom: 70px;
	}
}

.clients__image {
	margin-left: auto;
	margin-right: auto;
	width: 121px;
	height: 121px;
	background-color: #f9f9f9;
	overflow: hidden;
	-webkit-border-radius: 150px;
	        border-radius: 150px;
	&--special {
		margin-top: 40px;
	}
	@media (min-width: 768px) {
		width: 221px;
		height: 221px;
		margin-top: 0;
	}
}

.clients__comment {
	background-color: #f9f9f9;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.client__review {
	color: #777777;
	font-family: "Roboto Slab";
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	@media (min-width: 768px) {
		font-size: 15px;
	}
	@media (min-width: 992px) {
		font-size: 22px;
	}
}
.client__author {
	color: #7cc576;
	font-family: "Roboto Slab";
	font-size: 12px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	@media (min-width: 768px) {
		font-size: 15px;
	}
}
